/*** GENERAL ***/
* {
  box-sizing: border-box;
  border: thin solid black;
}
/*** BODY ***/
.header {
  display: flex;
  flex-direction: column;
  height: 8em;
  background-color: #ad87f7;
  text-align: center;
}
