/*** GENERAL ***/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: monospace, sans-serif;
  line-height: 1.4;
}

p {
  margin: 1.4em;
}

/*** BODY ***/
.body {
  margin: 1.4em;
  padding: 1em;
  text-align: center;
}

.body h1, h2, h3, h4, h5 {
  font-size: 1.5em;
}

.header {
  position: absolute;
  top: 2em;
  right: 1em;
}

.header a {
  padding: .5em;
  border: 3px solid black;
  background: lightgrey;
  color: black;
  text-decoration: none;
}

body {
  background-color: #1f6618;
  color: #40c943;
  border: 3px solid lightgrey;
}

nav a:hover {
  background-color: darkgrey;
}

h5 {
  padding: 1em;
}

/*** Portfolio List ***/
.sidebar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 0 auto;
}

.sidebar li {
  list-style-type: none;
}

.sidebar a {
  color: #40c943;
  text-decoration: none;
}

.unordered li {
  list-style-type: none;
  padding: 1em 0 1em 0;
}

.blog-posts {
  border: 3px solid lightgrey;
  margin: 1em 1em;
}

.blog-posts h3 {
  background: #274be8;
  color: white;
  border-bottom: 3px solid lightgrey;
}

.postdesc {
  font-size: 1em;
}

.blogpic {
  float: left;
  margin: 2em;
}

.uni-header {
  border: 3px solid lightgrey;
  background: #274be8;
  color: white;
  margin: 0;
  padding: 1em 0em;
}

.uni-header h1 {
  font-size: 1.5em;
}

/* Screen Styles */
@media only screen and (max-width: 720px) {
  .header {
    position: static;
    margin: 1em 1em;
  }

  .header a {
    margin: 1em 0 1em 0;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    position: static;
    display: flex;
    flex-direction: column;
  }

  .header a {
    text-align: center;
  }

  .blogpic {
    float: none;
    margin: 0 auto;
  }
}
