*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: 'Monaco', Helvetica, Courier, Arial;
}
/*** BODY ***/
main {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  align-items: center;
  background-color: #32292f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container header h1 {
  color: #fff4f4;
}

.container header p {
  color: #F8F8FF;
}

.container h1 {
  color: #000000;
}

.container p {
  color: #000000;
}

.small-container {
  margin: 0 auto;
  background-color: #F8F8FF;
  width: 90%;
}

.small-container h1 {
  text-align: center;
  padding: 1rem;
}

.preface {
  padding: 0.5rem 4rem 4rem 4rem;
  text-align: center;
}

.preface-heading {
  padding-top: 4rem;
  text-align: center;
}

.icon-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-row img {
  padding: 6px;
}

.knowledge-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.knowledge-col {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
}

.knowledge-col p {
  font-style: oblique;
  text-decoration: underline;
  padding-bottom: 1rem;
}

.knowledge-col li {
  list-style: none;
  color: #000000;
  text-align: center;
}

.knowledge-col img {
  padding: 1rem;
}

.previous-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F8FF;
}

.previous-projects section button {
  padding: .5rem;
  
}

.previous-projects h1, h2 {
  padding: 4rem;
}

.project-list {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer {
  padding: 4rem 0 0 0;
  text-align: center;
  width: 100%;
  background-color: #F8F8FF;
}

.icon-list {
  display: flex;
  flex-direction: column;
}

.icon-list li {
  list-style-type: none;
}

.icon-list li a img {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#infoBox {
  width: 100%;
  align-items: center;
  background-color: #32292f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#infoBox h1, a {
  color: #F8F8FF;
  padding: 1rem;
}

#infoBox p {
  color: #F8F8FF;
  padding: 1rem;
  text-align: center;
  margin: 0 8rem 0 8rem;
}
/* For the Navigation Buttons */

/*** Portfolio List ***/

/* Screen Styles */
/* iPad, other Pad-type devices */
@media only screen and (max-width: 800px) and (min-width: 451px) {
  .project-list {
    display: flex;
    flex-direction: column;
  }
}
/* Mobile Phone */
@media only screen and (max-width: 450px) {
  .small-container .knowledge-row {
    padding-top: 1rem;
  }

  .knowledge-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-list {
    display: flex;
    flex-direction: column;
  }
}
