/*** GENERAL ***/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: monospace, sans-serif;
  line-height: 1.4;
}

p {
  margin: 1.4vh 1.4vw;
  font-size: 2vw;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 3vw;
}

/*** BODY ***/
.body {
  margin: 1.4vw;
  padding: 1vh 1vw;
  text-align: justify;
}

.header {
  position: absolute;
  right: 1vw;
  top: 2.5vh;
}

.header a {
  background: lightgrey;
  border: 3px solid black;
  color: black;
  padding: .5vh .5vw;
  font-size: 2vw;
  text-decoration: none;
}

body {
  background-color: #1f6618;
  border: 3px solid lightgrey;
  color: #40c943;
}

nav a:hover {
  background-color: darkgrey;
}

/*** Portfolio List ***/
.sidebar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
}

.sidebar li {
  list-style-type: none;
}

.sidebar a {
  color: #40c943;
  text-decoration: none;
}

.unordered {
  display: flex;
}

.unordered li {
  font-size: 2vw;
  list-style-type: none;
  padding: 1vw 0 1vw 0;
  margin: 1vh 1vw;
}

.port-image {
  max-width: 30vw;
  padding: 1vh 0;
  margin: 1vh 0;
}

.blog-posts {
  border: 3px solid lightgrey;
  margin: 1vh 1vw;
  max-width: 45vw;
}

.blog-posts h1 {
  background: #274be8;
  border-bottom: 3px solid lightgrey;
  color: white;
}

.post-desc {
  font-size: 2vw;
  padding: 1vw;
}

.blog-pic {
  float: left;
  margin: 2vw;
}

.uni-header {
  background: #274be8;
  border: 3px solid lightgrey;
  color: white;
  margin: 0;
  padding: 1vw 0;
}

/* Screen Styles */
@media only screen and (max-width: 750px) {
  html {
    line-height: 1.5;
  }

  .header {
    margin: 1vh 1vw;
    position: static;
  }

  .header a {
    margin: 1vw 0 1vw 0;
  }
}

@media only screen and (max-width: 400px) {
  html {
    line-height: 1.2;
  }

  .header {
    display: flex;
    flex-direction: column;
    position: static;
  }

  .header a {
    text-align: center;
  }

  .blog-pic {
    float: none;
    margin: 0 auto;
  }
}
